* {
  margin: 0 auto;
  padding: 0;
}
html,
body {
  align-items: center;
  background-color: rgb(49, 49, 49);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 1300px;
}

hr {
  color: rgb(111, 185, 0);
  margin: 20px;
}

h3 {
  margin-bottom: 5px;
}

button {
  margin: 5px;
  min-width: 30px;
}